.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #24e7ee, #5dd8e9, #36dddd, #8cf3e5);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,#24e7ee, #5dd8e9, #36dddd, #8cf3e5);
  }
  
  @media (min-width: 769px) {
    .gradient-form {
      height: 100vh !important;
      padding: 5rem 1rem 1rem 2rem;
    }
  }
  @media (min-width: 100px) {
    .gradient-custom-2 {
      border-top-right-radius: .4rem;
      border-bottom-right-radius: .4rem;
      border-top-left-radius: .4rem;
      border-bottom-left-radius: .4rem;
      border-color: #85f0e1;
    }
  }

  .gradient-form input[type="radio"]:checked{
    background-color:#24e7ee;
    border-color:#24e7ee
  }
